<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="/styles/site.css" rel="stylesheet">
</head>

<body>


<div id="container">
   <%- reactOutput %>
</div>
<script src="/bundle.js"></script>

</body>

</html>