@black: #040707;
@white: #ffffff;
@green: #008f44;
@font-face {
  font-family: 'brown';
  src: url('../fonts/BrownStd-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brown-light';
  src: url('../fonts/BrownStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}

 

.heading(@color)
{ 
    border-bottom: 3px solid @color;
    font-family: 'brown';
    font-size:26px;
    color:@color;
    display:inline;
    font-weight: normal;
    
}
