@import "common";

.enter-cell-container{
    width:848px;
    height:480px;
    position: relative;
    
    .keypad-container{
        width:300px;
        height:480px;
        position:absolute;
        left:0;
        background-color: @white;
        
        .heading-container
        {
            
          width: 195px;
          margin: 0 auto;
          margin-top: 50px;
          min-height:64px;
            
             h1{
                .heading(@black);
                
                 .l1{
                    
                }
                 .l2{
                 
                 }
            }
        }
       
        
    }
    
    .right-container{
        width:548px;
        height:480px;
        position:absolute;
        right:0;
        background-color: @black;
        
        .terms-button{
                width: 40px;
              height: 15px;
              position: absolute;
              background-color: white;
              bottom: 63px;
              left: 170px;
              z-index: 100;
                opacity: 0.01;
            cursor: pointer;
        }
        
        .number-input{
            
              color: #fff;
              font-family: brown;
              font-size: 37px;
              width: 270px;
              height: 42px;
              position: absolute;
              left: 60px;
              top: 177px;
              /* margin: 199px 54px; */
              border-bottom: 4px solid #fff;
              letter-spacing: 5px;
            
        }
        
        .send-number-btn{
        
             color: #fff;
              font-family: brown;
              font-size: 30px;
              line-height: 34px;
              border-bottom: 3px solid #fff;
              width: 158px;
              height: 30px;
              position: absolute;
              left: 59px;
              top: 265px;
              cursor: pointer;
            
            &:active{
                color: @green;
                border-bottom-color: @green;
            }
        }
        
         .proceed-btn{
             color: #fff;
              font-family: brown;
              font-size: 30px;
              line-height: 34px;
              border-bottom: 3px solid #fff;
              width: 117px;
              height: 30px;
              position: absolute;
              left: 59px;
              top: 266px;
              cursor: pointer;
            
            &:active{
                color: @green;
                border-bottom-color: @green;
            }
        }
        
        .cancel-btn{
             color: #fff;
              font-family: brown;
              font-size: 30px;
              line-height: 34px;
              border-bottom: 3px solid #fff;
              width: 99px;
              height: 30px;
              position: absolute;
              left: 235px;
              top: 266px;
              cursor: pointer;
            
            &:active{
                color: @green;
                border-bottom-color: @green;
            }
        }
        
        
        #c1{
            position: absolute;
            top:400px;
            left:60px;
            
            .label{
                line-height:22px!important;
            }
        }
        
        #c2{
            position: absolute;
            top:400px;
            right:30px;
        }
        
        .checkbox
        {
           width: 240px;
           height: 20px;
            cursor: pointer;
            .box{
              width: 20px;
              height: 20px;
              background-color: white;
              font-family: 'brown';
              text-align: center;
              float: left;
            }
            
             .terms-text{
                 color: @green;
                }
            
            .label{
                  line-height: 11px;
                  width: 200px;
                  float: left;
                  color: white;
                  font-family: brown;
                  font-size: 10px;
                    margin-left:15px;
  
            }
            
            
        }
    
    }
    
    .terms-container
    {
        position: absolute;
          z-index: 100;
          background-color: black;
          width: 848px;
          height: 480px;
        
       
        
        .ok-btn
        {
            position: absolute;
              color: white;
              right: 35px;
              top: 80px;
              width: 37px;
              font-size: 24px;
              font-family: brown;
              line-height: 20px;
              border-bottom: 3px solid white;
            cursor: pointer;
            
            &:active{
                color:@green;
                border-bottom: 4px solid @green;
            }
        }
        
        .terms-title
        {
            .heading(@white);
            top: 35px;
              left: 35px;
              line-height: 34px;
              position: relative;
        }
        
        .terms-content-1
        {
            
               width: 785px;
              position: relative;
              left: 40px;
              top: 45px;
              height: 350px;

            
            h2
            {
                  position: relative;
                  color: white;
                  font-size: 9px;
                  font-family: 'brown-light';
                  text-decoration: underline;
            }
            
            .left1,.right1{
                float:left
            }
            
            ul
            {
                width:325px;
            
                li
                {
                  color: white;
                  font-size: .54em;
                  font-family: brown-light;
                    text-decoration: underline;
                }
            }
            
            .right-btn
            {
                     width: 27px;
                  height: 17px;
                  background: url(../images/right_arrow.png) center no-repeat;
                  position: absolute;
                  right: 0px;
                  bottom: 7px;
                
            }
            
           
        }
        
        .terms-content-2
        {
            
                width: 785px;
              position: relative;
              left: 40px;
              top: 45px;
              height: 350px;
            
             .left1,.right1{
                float:left
            }
            
             .left-btn
            {
                 width: 27px;
                  height: 17px;
                  background: url(../images/left_arrow.png) center no-repeat;
                  position: absolute;
                  right: 0px;
                  bottom: 0px;
                
            }
             .left1,.right1{
                float:left
            }
            
            ul
            {
                width:325px;
            
                li
                {
                  color: white;
                  font-size: .54em;
                  font-family: brown-light;
                    text-decoration: underline;
                }
            }
        }
    }
}