@import "common";

.failed-bg{

    width:848px;
    height:480px;
    background-color: @black;
    position: relative;
    
    .failed-title
    {
        width:199px;
        height:78px;
        background: url('../images/oops.png')center no-repeat;
        position: absolute;
        top:180px;
        left:320px;
        
        
            
    }
}