@import "common";

.keypad{
    width: 250px;
    margin: 50px auto;
    
    .keypad-button
    {
         font-family: brown;
          font-size: 34px;
          position:relative;
          width: 75px;
          height: 75px;
          text-align: center;
          float: left;
          cursor: pointer;
          line-height: 72px;
          z-index:3;



      span
      {
        width: 27px;
        height: 52px;
        border-bottom: 5px solid black;
        position: absolute;
        left:0;
        right:0;
        margin:auto;
        z-index:1;

        &:active{
          border-bottom: 5px solid @green;
        }

      }
        
        &:nth-child(11)
        {
         margin-left:75px;
            
        }
        
        &:active{
            color:@green;
        }
    }
}