@import "welcome";
@import "entercell";
@import "keypad";
@import "success";
@import "failed";


body{
margin:0;
-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container{
  width:848px;
  height:480px;
    
}