@import "common";

.success-bg{

    width:848px;
    height:480px;
    background-color: @black;
    position:relative;
    
    .success-title
    {
          border-bottom: 5px solid #fff;
          font-family: brown;
          font-size: 26px;
          color: #fff;
          display: inline;
          font-weight: 400;
          font-size: 73px;
          margin: 0 auto;
          position: absolute;
          top: 200px;
          right: 0;
          left: 0;
          margin: auto;
          width: 320px;
          line-height: 50px;
            
    }
}