@import "common";

.welcome-bg
{
  background:@black;
  width:848px;
  height:480px;
  position: relative;

  .welcome-title{
    background: url(../images/welcome.png) center no-repeat;
    width:602px;
    height:66px;
    color:white;
    position: absolute;
    left: 0;
    right:0;
    margin:auto;
    top:180px;
  }

  .welcome-cta{
    font-family: 'brown-light';
    color: #fff;
    position: absolute;
    left: 0;
    font-size: 18px;
    right: 0;
    margin: auto;
    width: 300px;
    top: 266px;
    font-weight: normal;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }

  .logo{

    background: url(../images/logo.png) center no-repeat;
    width: 50px;
    height: 58px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
  }
}